body{
    background-color: antiquewhite;
}

.name{
    display: grid;
    place-content: center;
}

h2{
    position: relative;
    font-family: 'arial', monospace;
    max-width: max-content;
}

h2::before,
h2::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h2::before{
    background-color: antiquewhite;
    animation: typewriter 4s steps(24) 1s forwards;
}

h2::after{
    width: .125rem;
    background-color: black;
    animation: typewriter 4s steps(24) 1s forwards,
    blink 750ms steps(24) infinite
}

@keyframes typewriter {
    to{
        left: 100%; /* 100% away from left */
    }
}
@keyframes blink {
    to{
        background-color: transparent;
    }
    
}


p{
opacity: 0;
transform: translateY(3rem);
animation: fadeIn 4s ease forwards;
}

@keyframes fadeIn {
    to{
        opacity: 1;
        transform: translateY(0)
    }
}
